# Database connection
DB_HOST=HostDaConexaoPostgres
DB_PORT=5432
DB_USER=UsernameDaConexaoPostgres
DB_PASSWORD=SenhaDaConexaoPostgres
DB_NAME=NomeDoBancoDeDados

# Rodar serviço db utilizando Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nome_banco_de_dados

# Porta que a API está rodando
API_PORT=PortaDaApi

#Frontend Url
FRONTEND_URL=http://localhost:5173

# Chave JWT
JWT_SECRET_KEY=ChaveSecretaJWT
JWT_ISSUER=orbees-api
JWT_AUDIENCE=orbees-frontend

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mail
MAIL_HOST=HOST
MAIL_PORT=PORT
MAIL_USER=user
MAIL_PASSWORD=password
MAIL_FROM=email
