# Database connection
DB_HOST=HostDaConexaoPostgres
DB_PORT=5432
DB_USER=UsernameDaConexaoPostgres
DB_PASSWORD=SenhaDaConexaoPostgres
DB_NAME=NomeDoBancoDeDados

# Rodar serviço db utilizando Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nome_banco_de_dados

# Porta que a API está rodando
API_PORT=PortaDaApi

# Chave JWT
JWT_SECRET_KEY=ChaveSecretaJWT
